
 <html>
  <body>
    <h2> <a href="/">Back to index</a> </h2>
    <form method="POST" action="/new">
        <input type="text" name="user" id="user">
        <input type="text" name="message" id="message">
        <button type="submit"> Submit</button>
     </form>
  </body>
</html>